---
swagger: "2.0"
info:
  description: "This service identifies objects in supplied images"
  version: "1.0.0"
  title: "YOLO Image Scorer"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "willb+yolo@redhat.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "yolo.radanalytics.io"
basePath: "/v2"
tags:
- name: "yolo"
  description: "score an image"
  externalDocs:
    description: "Find out more"
    url: "https://radanalytics.io"
schemes:
- "http"
- "https"
paths:
  /yolo:
    post:
      summary: "Score an image"
      description: ""
      operationId: "score_image"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "image"
        required: false
        schema:
          $ref: "#/definitions/Image"
      responses:
        200:
          description: "A list of results"
          schema:
            $ref: "#/definitions/Scores"
        405:
          description: "Invalid input"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
securityDefinitions:
  yolo_auth:
    type: "oauth2"
    authorizationUrl: "https://yolo.radanalytics.io/oauth/dialog"
    flow: "implicit"
    scopes:
      write:score: "make scoring requests"
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  Image:
    type: "object"
    required:
    - "image"
    properties:
      image:
        type: "string"
    example:
      image: "image"
  Scores:
    type: "array"
    items:
      $ref: "#/definitions/ScoredClass"
  ScoredClass:
    allOf:
    - $ref: "#/definitions/VOC"
    - properties:
        score:
          type: "number"
        tl_x:
          type: "number"
        tl_y:
          type: "number"
        br_x:
          type: "number"
        br_y:
          type: "number"
  VOC:
    type: "object"
    properties:
      voc:
        type: "string"
        enum:
        - "person"
        - "bicycle"
        - "car"
        - "motorbike"
        - "aeroplane"
        - "bus"
        - "train"
        - "truck"
        - "boat"
        - "traffic light"
        - "fire hydrant"
        - "stop sign"
        - "parking meter"
        - "bench"
        - "bird"
        - "cat"
        - "dog"
        - "horse"
        - "sheep"
        - "cow"
        - "elephant"
        - "bear"
        - "zebra"
        - "giraffe"
        - "backpack"
        - "umbrella"
        - "handbag"
        - "tie"
        - "suitcase"
        - "frisbee"
        - "skis"
        - "snowboard"
        - "sports ball"
        - "kite"
        - "baseball bat"
        - "baseball glove"
        - "skateboard"
        - "surfboard"
        - "tennis racket"
        - "bottle"
        - "wine glass"
        - "cup"
        - "fork"
        - "knife"
        - "spoon"
        - "bowl"
        - "banana"
        - "apple"
        - "sandwich"
        - "orange"
        - "broccoli"
        - "carrot"
        - "hot dog"
        - "pizza"
        - "donut"
        - "cake"
        - "chair"
        - "sofa"
        - "pottedplant"
        - "bed"
        - "diningtable"
        - "toilet"
        - "tvmonitor"
        - "laptop"
        - "mouse"
        - "remote"
        - "keyboard"
        - "cell phone"
        - "microwave"
        - "oven"
        - "toaster"
        - "sink"
        - "refrigerator"
        - "book"
        - "clock"
        - "vase"
        - "scissors"
        - "teddy bear"
        - "hair drier"
        - "toothbrush"
externalDocs:
  description: "Find out more about radanalytics"
  url: "http://radanalytics.io"
